


  
<head>
    <style>
      .main {
                position: absolute;
                margin-left: 250px;
                padding-top: 30px;
              }

      .main .content table thead tr th{
        background-color: aquamarine;
       margin-left: 70px;
       
      }
        
    </style>
  </head>



  <body>

    
    <% include hod_header %>
    
    <!-- START PAGE SOURCE -->
    <div class="main" style="top: 0;padding-top: 0;">
    
      <div class="content">
        <center>
          <h3 style="color: white;">View & Manage Users</h3>
        </center>
        <table class="table" style="background-color: white; top: 0;">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Date</th>
                <th>Address</th>
                <th>City</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let row of userDetails){ %>
              <tr>
                <td><%= row._id%></td>
                <td><%= row.name%></td>
                <td><%= row.email%></td>
                <td><%= row.contact%></td>
                <td><%= row.dt%></td>
                <td><%= row.address%></td>
                <td><%= row.city%></td>
                <td><%= row.gender%></td>
                <td><%= row.status%></td>

                <td>
                  <% if(row.status){%>
                    <a href="/hod/managestaffstatus?s=block&regid=<%= row._id%>" style=" color:orangered;text-decoration: none;">Block User</a>
                    <% }else{%>
                      <a href="/hod/managestaffstatus?s=verify&regid=<%= row._id%>" style=" color:green;text-decoration: none;">Verify User</a>
                      <%}%>
                </td>
                <td>
                  <a href="/hod/managestaffstatus?s=delete&regid=<%= row._id%>" style=" color:red;text-decoration: none;">Delete User</a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
      </div>
      
    </div>
 